html {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*Header*/

header {
  display: block;
  background-color: black;
  font-size: 1rem;
  color: white;
}

.header {
  display: flex;
  align-items: center;
}

.header span {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.header img {
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
}

/*Banner section*/

.banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  background-color: black;
  width: 20rem;
  color: white;
  font-weight: bold;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.arrival {
  font-size: 1rem;
  display: block;
}

.bikes {
  font-size: 2rem;
  display: block;
  padding-top: 0.25rem;
}

/*Nav*/

.navigation {
  background-color: firebrick;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation li {
  display: inline-block;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-between;
  align-items: center;
}

.navigation .tablet {
  display: none;
}

/*Products section*/

.store {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.product {
  display: flex;
  width: 30%;
  border: 4px solid black;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.product img {
  height: 9rem;
  max-width: 12em;
  padding: 2rem;
}

.product span {
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

/*Business details*/

.businessdeets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-bottom: 4rem;

}

.title {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/*Footer*/

footer {
  background-color: black;
  height: 5rem;
  color: white;
}

footer p {
  padding-top: 2rem;
}

@media only screen and (max-width: 1024px) {

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .tablet {
  display: block;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  }

.navigation .pc {
  display: none;
}

.product {
  width: 47%;
}

.glasses {
  display: none;
}

}

@media only screen and (max-width: 470px) {

  .banner {
    height: 15rem;
    background-image: url("../images/moto.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headline {
    background-color: black;
    width: auto;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    position: relative;
    top: 10rem;
  }

  .arrival {
    font-size: 0.77rem;
    display: block;
  }

  .bikes {
    font-size: 1rem;
    display: block;
    padding-top: 0.25rem;
  }

  .store {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product {
    width: 90%;
  }

  .glasses, .watch {
    display: none;
  }

  .businessdeets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .title {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
  }

  footer {
    text-align: center;
  }

}
